# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        os:
          - ubuntu-18.04
        node-version:
          - 12.x
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: setup node ${{matrix.node-version}}
        uses: actions/setup-node@v1.4.1
        with:
          node-version: ${{matrix.node-version}}
      - name: install packages
        run: yarn install
      - name: check linting
        run: yarn lint
      - name: test
        run: yarn test
